header{
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 3vh;
}
.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.menu{
  display: flex;
  margin-top: 10px;
  margin-right: 9%;
  flex-wrap: wrap;
}
.menu>a{
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.667;
  color: white;
  text-decoration: none;
  margin: 0px 25px;
}
.menu__items:hover{
  color: #061e37;
}
.SingUp {
  background: transparent;
  border: 1px solid white;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  line-height: 2.083;
  color: white;
  width: 80px;
}
.SingUp:hover {
  cursor: pointer;
}
.SingUp:active {
  color: #0cb7bf;
  background-color: white;
}
.HeaderBottom {
  display: flex;
  justify-content: space-between;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.HeaderBottom__text {
  max-width: 570px;
}
.HeaderBottom__text>p:nth-child(1){
  font-size: 55px;
  font-family: "Raleway", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.182;
}
.HeaderBottom__text>p:nth-child(2){
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.944;
}
.BuyNow{
  margin-top: 3vh;
  border-radius: 5px;
  background-color: rgb(6, 30, 55);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
  width: 150px;
  height: 55px;
  border: none;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  color: white;
}
.TryForFree{
  margin-top: 3vh;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
  width: 150px;
  height: 55px;
  border: none;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  color: rgb(6, 30, 55);
  margin-left: 2vw;
}
.BuyNow, .TryForFree:hover {
  cursor: pointer;
}
.BuyNow:active{
  background-color: white;
  color: rgb(6, 30, 55);
}
.TryForFree:active{
  background-color: rgb(6, 30, 55);
  color: white;
}
.Video {
  width: 600px;
  border: 1px solid black;
  border-radius: 5px;
}
