.HeaderTeam{
  text-align: center;
  max-width: 600px;
  margin: 70px auto;
}
.HeaderTeam>p:nth-child(1){
  font-size: 45px;
  font-family: "Raleway";
  color: rgb(6, 30, 55);
  font-weight: bold;
  line-height: 1.2;
}
.HeaderTeam>p:nth-child(2){
  font-size: 15px;
  font-family: "Raleway";
  color: rgb(176, 190, 197);
  line-height: 1.667;
}
.avatars{
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatars>div{
  margin: 0px 15px;
}
.InfoAvatar {
  text-align: center;
  max-width: 650px;
  margin: 20px auto;
}
.InfoAvatar>p:nth-child(1){
  font-size: 18px;
  font-family: "Raleway";
  color: rgb(6, 30, 55);
  font-weight: bold;
  line-height: 1.389;
}
.InfoAvatar>p:nth-child(2){
  font-size: 15px;
  font-family: "Raleway";
  color: rgb(144, 164, 174);
  line-height: 1.667;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.icons>div{
  margin: 0px 15px;
}