.Services {
  display: flex;
  justify-content: center;
  width: 100%;
}
.Services>div{
  margin-top: 6%;
  margin-bottom: 2%;
  max-width: 520px;
  text-align: center;
}
.Services>div>p:nth-child(1){
  font-size: 45px;
  font-family: "Raleway";
  color: rgb(6, 30, 55);
  font-weight: bold;
  line-height: 1.2;
}
.Services>div>p:nth-child(2){
  font-size: 15px;
  font-family: "Raleway";
  color: rgb(176, 190, 197);
  line-height: 1.667;
}
.ListServices {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
}
.ListServices__item{
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.13);
  width: calc(800*100%/1440);
  max-height: 50px;
  overflow: hidden;
  transition: max-height 1s;
}
.ListServices__item-active{
  max-height: 300px;
}
.ListServices__item>div:nth-child(1)>div{
  display: flex;
  align-items: center;
}
.ListServices__item>div:nth-child(1)>div>p{
  margin-left: 30px;
  font-size: 15px;
  font-family: "Raleway";
  color: rgb(6, 30, 55);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}
.content {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 20px;
}
.content>div:nth-child(2){
  max-width: 470px;
  margin-left: 15px;
}
.content>div:nth-child(2)>p{
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: rgb(6, 30, 55);
  line-height: 1.667;
}
.ListServices__item:hover {
  cursor: pointer;
}
.headerItem {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  min-height: 50px;
}
.headerItem:hover {
  cursor: pointer;
}
.headerItem>div:nth-child(1) {
  display: flex;
  align-items: center;
}
.headerItem>div:nth-child(1)>p {
  margin-left: 30px;
  font-size: 15px;
  font-family: "Raleway";
  color: rgb(6, 30, 55);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}