* {
  margin: 0;
  padding: 0;
}
button, input, textarea{
  outline: none;
}

@import "head";
@import "project";
@import "BoxButton";
@import "services";
@import "comments";
@import "outTeam";
@import "contactUs";
@import "footer";

img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1440px;
  margin: 0px auto;
}