* {
  margin: 0;
  padding: 0; }

button {
  outline: none; }

header {
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 3vh; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-right: 9%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.menu > a {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.667;
  color: white;
  text-decoration: none;
  margin: 0px 25px; }

.menu__items:hover {
  color: #061e37; }

.SingUp {
  background: transparent;
  border: 1px solid white;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  line-height: 2.083;
  color: white;
  width: 80px; }

.SingUp:hover {
  cursor: pointer; }

.SingUp:active {
  color: #0cb7bf;
  background-color: white; }

.HeaderBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10vh;
  padding-bottom: 10vh; }

.HeaderBottom__text {
  max-width: 570px; }

.HeaderBottom__text > p:nth-child(1) {
  font-size: 55px;
  font-family: "Raleway", sans-serif;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.182; }

.HeaderBottom__text > p:nth-child(2) {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  color: white;
  line-height: 1.944; }

.BuyNow {
  margin-top: 3vh;
  border-radius: 5px;
  background-color: #061e37;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
  width: 150px;
  height: 55px;
  border: none;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  color: white; }

.TryForFree {
  margin-top: 3vh;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
  width: 150px;
  height: 55px;
  border: none;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  color: #061e37;
  margin-left: 2vw; }

.BuyNow, .TryForFree:hover {
  cursor: pointer; }

.BuyNow:active {
  background-color: white;
  color: #061e37; }

.TryForFree:active {
  background-color: #061e37;
  color: white; }

.Video {
  width: 600px;
  border: 1px solid black;
  border-radius: 5px; }

.ProjectManagement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }

.ProjectManagementTop {
  margin-top: 8%;
  max-width: 530px;
  text-align: center; }

.ProjectManagementTop > p:nth-child(1) {
  font-size: 45px;
  font-family: "Raleway", sans-serif;
  color: #061e37;
  font-weight: bold;
  line-height: 1.2; }

.ProjectManagementTop > p:nth-child(2) {
  font-size: 25px;
  font-family: "Raleway", sans-serif;
  color: #b0bec5;
  font-weight: bold;
  line-height: 1.2; }

.ProjectManagementTop > p:nth-child(3) {
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  color: #b0bec5;
  line-height: 1.667; }

.Title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%; }

.TitleGoesHere {
  margin-top: 7%;
  max-width: 330px;
  text-align: center; }

.TitleGoesHere > p:nth-child(2) {
  margin-top: 30px;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  color: #061e37;
  font-weight: bold;
  line-height: 1.2; }

.TitleGoesHere > p:nth-child(3) {
  margin-top: 10px;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  color: #78909c;
  line-height: 1.333; }

.TitleButton {
  text-align: center; }

.ProjectGetStarted {
  margin: 7% auto;
  width: 150px;
  height: 55px;
  border: none;
  border-radius: 5px;
  background-color: #1de9b6;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2; }

.ProjectGetStarted:hover {
  cursor: pointer; }

.ProjectGetStarted:active {
  background-color: white;
  color: #1de9b6; }

.BoxButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }

.BoxButton > div > div > img {
  margin-right: 10px; }

.BoxButton > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  height: 150px; }

.BoxButton > div > div > p {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  color: white;
  font-weight: bold;
  line-height: 1.25; }

.BoxButton > div:hover {
  cursor: pointer; }

.BoxButton > div:nth-child(1) {
  background-color: #80d8ff; }

.BoxButton > div:nth-child(2) {
  background-color: #82b1ff; }

.BoxButton > div:nth-child(3) {
  background-color: #b388ff; }

.BoxButton > div:nth-child(4) {
  background-color: #ea80fc; }

.BackgroundBoxButton {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #80d8ff), color-stop(50%, #ea80fc));
  background: linear-gradient(90deg, #80d8ff 50%, #ea80fc 50%); }

.Services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }

.Services > div {
  margin-top: 6%;
  margin-bottom: 2%;
  max-width: 520px;
  text-align: center; }

.Services > div > p:nth-child(1) {
  font-size: 45px;
  font-family: "Raleway";
  color: #061e37;
  font-weight: bold;
  line-height: 1.2; }

.Services > div > p:nth-child(2) {
  font-size: 15px;
  font-family: "Raleway";
  color: #b0bec5;
  line-height: 1.667; }

.ListServices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.ListServices__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px auto;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.13);
  width: calc(800*100%/1440);
  min-height: 50px; }

.ListServices__item > div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0px; }

.ListServices__item > div:nth-child(1) > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.ListServices__item > div:nth-child(1) > div > p {
  margin-left: 30px;
  font-size: 15px;
  font-family: "Raleway";
  color: #061e37;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2; }

.content {
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 20px; }

.content__text {
  max-width: 470px;
  margin-left: 15px; }

.content__text > p {
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: #061e37;
  line-height: 1.667; }

.ListServices__item:hover {
  cursor: pointer; }

.ButtonList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  border-radius: 5px;
  width: 100%;
  min-height: 50px;
  border: none;
  padding: 0px 20px; }

.ButtonList:hover {
  cursor: pointer; }

.ButtonList > div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.ButtonList > div:nth-child(1) > p {
  margin-left: 30px;
  font-size: 15px;
  font-family: "Raleway";
  color: #061e37;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2; }

.BackgroundComments {
  background-image: url("../img/rectangle.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px; }

.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 560px; }

.HearedComment {
  max-width: 550px; }

.HearedComment > p:nth-child(1) {
  font-size: 45px;
  font-family: "Raleway";
  color: white;
  font-weight: bold;
  line-height: 1.2; }

.HearedComment > p:nth-child(2) {
  margin-top: 1vh;
  font-size: 15px;
  font-family: "Raleway";
  color: white;
  font-weight: bold;
  line-height: 1.667; }

.HearedComment > button {
  margin-top: 8vh;
  border: none;
  border-radius: 5px;
  background-color: #061e37;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  width: 150px;
  height: 55px;
  font-size: 15px;
  font-family: "Raleway";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2; }

.HearedComment > button:hover {
  cursor: pointer; }

.HearedComment > button:active {
  background-color: white;
  color: #061e37; }

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 55%;
  height: 100%; }

.slider__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }

.ManComment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 80px 30px 20px;
  max-width: 570px;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15); }

.ManComment > p {
  margin-left: 20px; }

.ManComment > p:nth-child(1) {
  font-size: 18px;
  font-family: "Raleway";
  color: #061e37;
  font-weight: bold;
  line-height: 1.389; }

.ManComment > p:nth-child(2) {
  margin-top: 10px;
  font-style: oblique;
  font-size: 15px;
  font-family: "Raleway";
  color: #78909c;
  line-height: 1.667; }

.KeySlider {
  margin-left: 100px; }

.OutTeam {
  height: 500px; }

img {
  max-width: 100%;
  height: auto; }

.container {
  max-width: 1440px;
  margin: 0px auto; }

/*# sourceMappingURL=style.css.map */