* {
  margin: 0;
  padding: 0;
}
@import "head";
@import "project";
@import "BoxButton";
@import "services";
img {
  margin-right: 0;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1440px;
  margin: 0px auto;
}