* {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  height: auto; }

.container {
  margin: 0px auto;
  max-width: 1024px; }

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 2vh; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.Prechu {
  font-max-size: 42.35px;
  color: black;
  font-family: "Myriad Pro", sans-serif;
  line-height: 1.2;
  margin-left: 5px; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.buttonMenu {
  margin: 0px 1vw;
  padding-top: 18px;
  padding-bottom: 18px;
  border-bottom: 3px solid white; }

.buttonMenu:hover {
  border-bottom: 3px solid #5094f2; }

.buttonMenu__text {
  text-decoration: none;
  font-size: 20.35px;
  font-family: "Myriad Pro", sans-serif;
  color: #6c6c6c;
  line-height: 1.2; }

.MenuMob {
  display: none; }

.main {
  background-image: url("../img/fon1.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; }

.slayd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.SlaydText {
  margin-left: 2vw; }

.SlaydText__h {
  font-size: 20px;
  font-family: "Myriad Pro", sans-serif;
  color: white;
  line-height: 1.049; }

.SlaydText__p {
  margin: 10px 0px;
  font-size: 20px;
  font-family: "Myriad Pro", sans-serif;
  color: white;
  line-height: 1.049; }

.img_size {
  max-height: 436px; }

.SlaydButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 4px;
  background-color: #5094f2;
  padding: 5px 15px;
  color: white;
  font-family: "Myriad Pro", sans-serif;
  font-size: 18px;
  margin-top: 30px; }

.SlaydButton:hover {
  cursor: pointer; }

.SlaydButton__p {
  margin: 0px 5px; }

.MenuCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 5vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.BoxCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  border: 0.5px solid white; }

.BoxCard:hover {
  border: 0.5px solid silver;
  -webkit-box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.6);
  cursor: pointer; }

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.card__a {
  text-decoration: none;
  font-size: 20.35px;
  font-family: "Myriad Pro", sans-serif;
  color: #5094f2;
  line-height: 2.183;
  margin-top: 20px; }

.card__p {
  font-size: 14.35px;
  font-family: "Myriad Pro", sans-serif;
  color: #909090;
  line-height: 1.2; }

.Info {
  padding-bottom: 10vh; }

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 10vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.basket {
  text-align: center; }

.basket__text {
  margin-bottom: 4vh;
  font-size: 42.35px;
  font-family: "Myriad Pro", sans-serif;
  color: #6f7173;
  line-height: 1.049; }

.ProductInfo {
  padding: 3vh 15px 0px 15px; }

.ProductInfo__text {
  font-size: 15.35px;
  font-family: "Myriad Pro", sans-serif;
  color: #909090;
  line-height: 2.345; }

.ProductInfo__text-active {
  font-size: 25px; }

footer {
  border: 1px solid #e5e5e5;
  text-align: center; }

.footer {
  margin: 3vh auto;
  font-size: 15.35px;
  font-family: "SegoeWPN", sans-serif;
  color: #909090; }

@media screen and (max-width: 650px) {
  .menu {
    display: none; }

  .container {
    max-width: 100%;
    height: auto; }

  .img_size {
    max-width: 100%; }

  .MenuMob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 6px;
    padding-left: 10px; }

  .MenuMob__img {
    max-width: 50px;
    max-height: 35px;
    margin-right: 25px; }

  .logo {
    margin-left: 20px; }

  #logo__img {
    min-width: 40px; }

  .sl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .main .slider .sl .slayd {
    height: 250px;
    width: 100%; }

  .slayd {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }

  .slayd__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30%;
    margin-right: 3vw; }

  .BoxCard {
    width: 100%;
    border-bottom: 0.5px solid #cccccc;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .card {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin-left: 20px;
    min-width: 326px; }

  .card__a {
    font-size: 38px;
    line-height: 1.5;
    margin-top: 10px; }

  .card__p {
    font-size: 19px; }

  .BoxCard__img {
    width: 25%; }

  body {
    min-width: 480px; }

  .slick-next {
    right: 8px; }

  .slick-prev {
    left: 5px; } }
@media screen and (max-width: 480px) {
  .card__a {
    font-size: 25px;
    line-height: 1.5;
    margin-top: 10px; }

  .card__p {
    font-size: 16px; } }

/*# sourceMappingURL=style.css.map */