* {
    margin: 0;
    padding: 0;
}
p {
    font-family: "Montserrat", sans-serif;
    margin-top: 10px;
    color: rgb(124, 141, 156);
}
h1 {
    color: rgb(58, 77, 92);
}
ul {
    margin-left: 20px;
    list-style-type: square;
    color: #37b0ae;
}
.center_right_h_p {
    color: rgb(58, 77, 92);
}
body {
    background-color: silver;
}
/*div {*/
/*    border: 1px solid black;*/
/*}*/
.center_img_center {
    display: flex;
    justify-content: center;
    background-color: rgba(255,255,255, 0.4);
    padding: 5px;
    box-shadow: 0 0 5px;
    width: 75px;
    height: 78px;
    z-index: 102;
}
.center_img_center:hover {
    box-shadow: 0 0 5px #37b0ae;
}
.center_img_center1 {
    position: absolute;
    top: 200px;
    left: 457px;
}
.center_img_center2 {
    position: absolute;
    top: 300px;
    left: 457px;
}
.center_img_center3 {
    position: absolute;
    top: 400px;
    left: 457px;
}

.center {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
}
.center_left {
    display: flex;
    flex-direction: column;
    background-color: #37b0ae;
    width: 500px;
    height: 630px;
    position: relative;
}
.center_logo {
    width: 100px;
    margin-top: 25px;
    margin-left: 20px;
}
.center_img {
    width: 500px;
    position: relative;
    top: 50px;
    left: -50px;
    z-index: 101;
}
.shadow {
    position: absolute;
    width: 620px;
    left: -50px;
    top: 300px;
    z-index: 100;
}

.center_right {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 700px;
    background-color: white;
    padding-left: 90px;
}
.center_right_h {
    margin-top: 50px;
}
.center_right_ul {
    margin-top: 60px;
}
.center_right_menu {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.center_right_menu_p:nth-child(2) {
    margin-left: 30px;
}
.center_right_menu_p:nth-child(3) {
    margin-left: 30px;
}
.center_right_quantity {
    margin-top: 30px;
}
.center_right_count {
    display: flex;
    flex-direction: row;
}
.button_minmax {
    width: 35px;
    height: 35px;
    background: transparent;
    border: 1px solid rgb(124, 141, 156);
}
.center_right_count_b {
    display: flex;
    justify-content: center;
    width: 35px;
    height: 33px;
    border: 1px solid rgb(124, 141, 156);
}
.button_minmax_p{
    margin: 0;
}
.center_right_summ {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.center_right_old {
    margin-left: 20px;
}
.center_right_button {
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
}
.button1 {
    background-color: #37b0ae;
    border: none;
    width: 180px;
    height: 40px;
}
.button1_text {
    margin-top: 0px;
    color: white;
}
.button2 {
    border: 1px solid rgb(124, 141, 156);
    background: transparent;
    width: 180px;
    height: 40px;
    margin-left: 30px;
}
.button2_text {
    margin-top: 0px;
    color: rgb(124, 141, 156);
}



