* {
  margin: 0;
  padding: 0;
}
p {
  font-family: "Montserrat", sans-serif;
  margin-top: 10px;
  color: rgb(124, 141, 156);
}
img{
  width: 100%;
  height: auto;
}
h1 {
  color: rgb(58, 77, 92);
}
ul {
  margin-left: 20px;
  list-style-type: square;
  color: #37b0ae;
}
body {
  background-color: silver;
}

.Box {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 6%;
}

@import "BoxLeft";
@import "BoxRight";

@media screen and (max-width: 1180px){
  .Box {
    flex-direction: column;
    justify-content: normal;
    min-width: 600px;
    margin-right: 20px;
  }
  .BoxRight {

  }
  .BoxLeft {
    margin-left: 30px;
    height: 730px;
  }
  .CameraShadow {
    width: 580px;
  }
  .CameraPhotos__top {
    top: 625px;
    left: 110px;
  }
  .CameraPhotos__center {
    top: 625px;
    left: 210px;
  }
  .CameraPhotos__bottom {
    top: 625px;
    left: 310px;
  }
}